@model  MyShop.Core.ViewModels.ProductManagerListViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Products</h2>
<div class="col-md-2">
    <h4>Filter By Category</h4>
    <div class="list-group">
        @Html.ActionLink("All","Index",null,new { @class=Request["Category"]==null ? "list-group-item active" : "list-group-item" })
        @foreach (var item in Model.ProductCategory)
        {
            @Html.ActionLink(item.Category,"Index",new { Category = item.Category}, new { @class = Request["Category"] == item.Category ? "list-group-item active" : "list-group-item"  })
        }
    </div>
</div>
<div class="col-md-10">
    @foreach (var item in Model.Product)
    {
        <div class="col-md-4">
            <div class="col-md-12">
                <img class="img-thumbnail" style="height:200px;" src="~/Content/ProductImages/@item.Image" />
            </div>
            <div class="col-md-12" style="font-size:medium; font-weight:bold">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-md-12">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <hr>
            <div class="col-md-12">
                @Html.DisplayFor(modelItem => item.Price)
            </div>

            <div class="col-md-12">
                @Html.ActionLink("Detail", "Detail", new { id = item.Id })
            </div>
            <div class="col-md-12">
                <a class="btn btn-primary" href="@Url.Action("AddToBasket","Basket", new { id = item.Id})">Add To Basket</a>
            </div>
        </div>

    }
</div>

<div class="col-md-12 clearfix"></div>